table {
  border-collapse: collapse;
}

button {
  margin: 10px 0 10px 0;
}

#game-board {
  margin: auto;
}

table#game-board td:not(.table-cell) {
  padding: 8px;
  vertical-align: top;
}

input.small {
  width: 30px;
}

table#boggle-table td {
  border: solid black 1px;
  height: 80px;
  font-size: 24pt;
  text-align: center;
  width: 80px;
}

/* #words-used {
  border-collapse: collapse;
} */

#words-used td {
  border: solid black 1px;
}

#words-used col {
  width: 33%;
}

/* textarea#enter-words{
  width: 100%;

} */

.popup {
  position: absolute;
  /* display: inline-block; */
  display: none;

  --width: 400px;
  left: 50%;
  margin-left: calc(var(--width) / -2);
}

.popup table {
  /* border-collapse: collapse; */
  border: solid black 1px;
  width: var(--width);
}

.popup-top {
  background-color: #000068;
  color: white;
  /* height: 40px; */
}

.popup-bottom {
  background-color: white;
  /* height: 175px; */
}

.popup td {
  padding: 10px;
}