table {
  border-collapse: collapse;
}

button{
  border: solid #000000 1px;
  border-radius: 6px;
  background-repeat: no-repeat;
  cursor: pointer;
  /* font-family: Georgia; */
  font-size: 12pt;
  margin: 10px 5px 10px 5px;
  outline: none;
  padding: 3px 10px;
  text-align: center;
}

#game-board {
  margin: auto;
}

table#game-board td:not(.table-cell) {
  padding: 8px;
  vertical-align: top;
}

/* ============================== */

/* LEFT COLUMN, TIMER COLUMN */

#timer-col { /* Left column */
  width: 125px;

}

/* ============================== */

/* MIDDLE COLUMN, MAIN BOARD */

#board-col { /* Middle column */
  /* width: 500px; */
}

/* Start buttons */

#button4 {
  background-color: #69b87e;
}

#button5 {
  background-color: #f5f1ab;
}

#button6 {
  background-color: #e69191;
}

input.small {
  width: 30px;
}

/* Boggle board */

table#boggle-table td {
  border: solid black 1px;
  height: 80px;
  font-size: 24pt;
  text-align: center;
  width: 80px;
}

.highlight {
  background-color: #69b87e;
}

/* ============================== */

/* RIGHT COLUMN, RESULTS COLUMN */

#results-col { /* Right column */
  /* word-break: break-all; */
  width: 400px;
}

#words-used > tbody > tr > td {
  /* max-width: 100px; */
}

#words-used td:not(#word-entry) {
  border: solid black 1px;
}


#words-used col {
  width: 33%;
}

#words-found, #words-rejected {
  height: 100px;
}

p.word {
  margin: 0px 0 1px 0;
}

/* textarea#enter-words{
  width: 100%;

} */




/* POPUP */

.popup {
  position: absolute;
  /* display: inline-block; */
  display: none;

  --width: 400px;
  left: 50%;
  margin-left: calc(var(--width) / -2);
}

.popup table {
  /* border-collapse: collapse; */
  border: solid black 1px;
  width: var(--width);
}

.popup-top {
  background-color: #000068;
  color: white;
  /* height: 40px; */
}

.popup-bottom {
  background-color: white;
  /* height: 175px; */
}

.popup td {
  padding: 10px;
}